@import '../../styles/colors';

.note {
  width: 7.5vw;
  height: 7.5vw;
  background-color: #E6E6E6;
  margin: 5px;
  border-radius: 100%;
  border: solid 5px white;
  display: inline-block;
}

.note.played {
  background-color: $highlightRed;
}
